<div class="container">
  <article>
    <header>
      <br>
      <h3 class="margin-unset"><%= @article.title %></h3>
      <br>
    </header>
    <p><%= simple_format(@article.text) %></p>
    <footer>
      <%= link_to "Edit", edit_article_path(@article)%> |
      <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> |
      <%= link_to "View all articles", articles_path%>
    </footer>
  </article>
</div>
