<div class="container">
  <p>Bloggers</p>
  <% @users.each do |user| %>
    <article>
      <header>
        <h4 class='margin-unset'>
          <%= link_to "#{user.username}", user_path(user) %>
        </h4>
      </header>
      <div>
        <%= user.email %>
      </div>
      <footer class='flex-between'>
        <%= delete_link_visibility_per_user(user) %>
        <small>
          <%= pluralize(user.articles.size, 'article') %>
        </small>
      </footer>
    </article>
  <% end %>
  <%= will_paginate @users %>
</div>
