<div class="container">
  <h3 align='center'>This is <%= @user.username %>'s page</h3><br>
  <div align='center'><%= @user.email %></div><br><br>
  <h4>All <%= @user.username %>'s articles</h4>
  <hr><br>
  <%= render 'articles/articles', articles: @user_articles %>
  <%= will_paginate @user_articles %>
</div>
