<ul>
  <li>
    <%= link_to root_path  do %>
      <strong style="font-size: 1.4rem"><%= APP_NAME %> &#128039;</strong>
    <% end %>
  </li>
  <li>
    <%= link_to "Articles", '#' %>
  </li>
  <li>
    <%= link_to "Bloggers", '#' %>
  </li>
  <li>
    <%= link_to "Categories", '#' %>
  </li>
</ul>
