<ul>
  <li>
    <%= link_to root_path  do %>
      <strong style="font-size: 1.4rem"><%= APP_NAME %> &#128039;</strong>
    <% end %>
  </li>
  <li>
    <%= link_to "Articles", articles_path %>
  </li>
  <li>
    <%= link_to "Bloggers", users_path %>
  </li>
  <li>
    <%= link_to "Categories", '#' %>
  </li>
  <% if current_user %>
    <li>
      <details class="dropdown">
        <summary>
          Actions
        </summary>
        <ul>
          <li><%= link_to "Add new article", new_article_path %></li>
        </ul>
      </details>
    </li>
  <% end %>
</ul>
