<ul>
  <% if current_user %>
    <li>
      <details class="dropdown">
        <summary>
          Account
        </summary>
        <ul dir="rtl">
          <li class="pico-color-grey-500">
            <cite><%= current_user.email %></cite>
          </li>
          <li>
            <%= link_to "Edit your profile", edit_user_path(current_user) %>
          </li>
          <li>
            <%= link_to "View your profile", user_path(current_user) %>
          </li>
          <li>
            <%= link_to "Logout", signin_path, data: {turbo_method: :delete } %>
          </li>
        </ul>
      </details>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign in", signin_path %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_path %>
    </li>
  <% end %>
</ul>
